// Base styling for the navbar
#mainNav {
  // box-shadow: $box-shadow;
  background-color: transparent;

  transition: background-color 0.2s ease;
  .navbar-brand {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-bold;
    color: $gray-900;
  font-size: 1.5rem;
        
    background: $primary;
    width: 50px;
    text-align: center;
    border-radius: 60%;
  }
  .navbar-nav {
    .nav-item {
      background-size: 100vh;
      background-color: transparent;
      font-size: 20px;
      &.active {
        .nav-link {
          color: $primary !important;
        }
      }

      .nav-link {
        color: $gray-600;
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-bold;
        font-size: 0.9rem;
        padding: 0.75rem 0;
        &:hover,
        &:active {
          color: $primary;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    // Base styling for the navbar - screen sizes greater than the large breakpoint
  }

  @include media-breakpoint-up(lg) {
    // Base styling for the navbar - screen sizes greater than the large breakpoint
    box-shadow: none;

    background-color: transparent;
    .navbar-brand {
      color: $gray-900;
        
    background: $primary;
    width: 40px;
    text-align: center;
    border-radius: 60%;
      &:hover {
        color: $white;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: fade-out($white, 0.3);

          padding: 0 1rem;
          &:hover {
            color: $white;
          }
        }
        &:last-child {
          .nav-link {
            padding-right: 0;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  // Base styling for the navbar - screen sizes greater than the large breakpoint





  box-shadow: none;

  background-color: transparent;
  .navbar-brand {
    color: fade-out($white, 0.3);

    &:hover {
      color: $white;
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: fade-out($white, 0.3);

        padding: 0 1rem;
        &:hover {
          color: $white;
        }
      }
      &:last-child {
        .nav-link {
          padding-right: 0;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  // Navbar styling applied when the page is scrolled
  .site-container.navbar-scrolled #mainNav {
    box-shadow: $box-shadow;
    background-color: rgb(255, 255, 255);
    text-align: right;

    .navbar-brand {
      color: $gray-900;
      background: $primary;
      width: 40px;
      text-align: center;
      border-radius: 60%;
      &:hover {
        color: $primary;
      }
    }

    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $gray-900;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: navy;
}

.nav-pills .nav-link {
  border-radius: 30px;
  border: 1px solid navy;
  color: navy;
  font-size: 0.5em;
  margin: 5px;

  &:hover {
    color: rgb(255, 255, 255);
    background: navy;
  }
}

.navbar-expand-lg {
  background-color: rgba(0, 0, 0, 0.404);
}

@media (max-width: 993px) {
  .navbar-toggler {

    font-size: 0.9rem;
color: #000;
    background-color: $primary;
    border: 1px solid transparent;
    height: 45px;
    border-radius: 50%;
}
  .navbar-collapse {
    position: absolute;
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 700;

    top: 0;
    right: 0;
    left: 0;
    min-height: 100%;
    text-align: center;
    padding-top: 80px;
    padding-left: 10px;
    flex-basis: 100%;
    border-bottom-right-radius: 300px;
    flex-grow: 1;
    align-items: center;
    z-index: -1;
    background-color:#041c6cec;
    transition: all 0.1s ease-in;
  }

  // Base styling for the navbar
  #mainNav {
    // box-shadow: $box-shadow;
    background-color: transparent;

    transition: background-color 0.2s ease;
    .navbar-brand {
      font-family: $font-family-sans-serif;
      font-weight: $font-weight-bold;
      color: $gray-900;
    }
    .navbar-nav {
      .nav-item {
        background-size: 100vh;
        background-color: transparent;

        &.active {
          .nav-link {
            color: rgb(255, 255, 255) !important;
          }
        }

        .nav-link {
          color: rgba(255, 255, 255, 0.514);
          font-family: $font-family-sans-serif;
          font-weight: $font-weight-bold;
          font-size: 1.5rem;
          text-align: left;
          margin: 2px;
          padding: 0.5rem 0;
          &:hover,
          &:active {
            color: white;
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      // Base styling for the navbar - screen sizes greater than the large breakpoint

  

    }

    @include media-breakpoint-up(lg) {
      // Base styling for the navbar - screen sizes greater than the large breakpoint
      box-shadow: none;

      background-color: transparent;
      .navbar-brand {
        color: $gray-900;
        &:hover {
          color: $white;
        }
      }
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: fade-out($white, 0.3);

            padding: 0 1rem;
            &:hover {
              color: $white;
            }
          }
          &:last-child {
            .nav-link {
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}
