// Variables

// Color overrides

// Set a custom color
$orange: #f4623a !default;
$blue: #0192b3 !default;

// Set primary color to orange
$primary: $orange !default;

$secondary: #0192b3 !default;
.heading-title {
  text-transform: uppercase;
  font-family: verdana;
  font-weight: 700;

  font-size: 1.3em;
}

.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.text-main {
  $font-family-sans-serif: "Merriweather Sans", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji" !default;
  font-size: 1rem;
}

.credits {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

// Font overrides
$font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$font-family-serif: "Merriweather", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$font-family-base: $font-family-serif !default;

$headings-font-family: $font-family-sans-serif !default;

// Custom variables
$navbar-height: 72px;

.ftco-about {
  // background: linear-gradient(90deg, #e8e8e8 50%, #0192b3 50%);
  background-color: #0b419d;
}

.ftco-about .img-about {
  width: 100%;
  z-index: 0;
  position: relative;
}
.ftco-about .img-about .img {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
}

.ftco-about ul.about-info {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
}
.ftco-about ul.about-info li {
  list-style: none;
  margin-bottom: 10px;
}
.ftco-about ul.about-info li span {
  width: calc(100% - 130px);
}
.ftco-about ul.about-info li span:first-child {
  font-weight: 600;
  color: #000000;
  width: 130px;
}

.rounded-cirlce {
  height: 300px;
  width: 300px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.ftco-section {
  padding: 7em 0;
  position: relative;
}
@media (max-width: 767.98px) {
  .ftco-section {
    padding: 6em 0;
  }
}

.resume-wrap {
  width: 100%;
  margin-bottom: 30px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}
.resume-wrap .icon {
  width: 50px;
  height: 50px;
  margin: 8px;
  background: #3e64ff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.resume-wrap .icon span {
  color: #fff;
  font-size: 18px;
}
.resume-wrap .text {
  width: calc(100% - 50px);
}
.resume-wrap .date {
  font-weight: 700;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  color: #3e64ff;
}
.resume-wrap h2 {
  font-size: 24px;
  font-weight: 700;
}
.resume-wrap .position {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

#navi {
  top: 180px;
  position: -webkit-sticky;
  position: sticky;
  margin: 0;
}
#navi ul {
  margin: 0;
  padding: 0;
}
#navi li {
  font-weight: 700;
  list-style: none;
  margin-bottom: 10px;
}
#navi li a {
  color: #000000;
}
#navi li a.current {
  color: #3e64ff;
  margin-left: 20px;
  position: relative;
}
#navi li a.current:after {
  position: absolute;
  top: 50%;
  left: -24px;
  width: 20px;
  height: 2px;
  content: "";
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #3e64ff;
}

.page {
  width: 100%;
  margin-bottom: 7em;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.page.four {
  margin-bottom: 0;
}

.page.two {
}

.heading {
  text-transform: uppercase;
  font-family: verdana;
  font-size: 3em;
  font-weight: 700;
  color: #000000;
}

.number-circle {
  background-color: $orange;
  border-radius: 50%;
  text-align: center;
  max-width: 30px;
  left: 50%;
  bottom: 50%;
}

.progress-wrap h3 {
  font-weight: 800;
  font-size: 25px;
  color: #000000;
}

.progress-wrap1 {
  border-right: solid 1px rgba(255, 255, 255, 0.824);
  margin-right: -20px;
  padding-right: 40px;
}

.heading-nav {
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 30px;
  color: #000000;
}

.service-img {
  mix-blend-mode: multiply;
}

.page .heading {
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 30px;
  color: #3e64ff;
}

#services {
  background-color: #34adff;
  background-image: -webkit-linear-gradient(-130deg, #34adff 50%, #ffffff 50%);
  min-height: 800px;
}

.services-1 {
}
.services-1 .icon {
  display: block;
  margin-bottom: 30px;
}
.services-1 .icon i {
  font-size: 60px;
  line-height: 1;
  color: #3e64ff;
}
.services-1 .desc h3 {
  line-height: 1.3;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  color: #000000;
}
.services-1 .desc h3:after {
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  content: "";
  width: 30px;
  height: 1px;
  background: #3e64ff;
  margin: 0 auto;
}
.services-1 .desc h3 a {
  color: #fff;
}
.services-1 .desc h4 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 18px;
}

.services-1 .desc span {
  text-transform: uppercase;
  font-size: 12px;

  color: #3e64ff;
}
.services-1 .desc p {
  color: rgba(0, 0, 0, 0.7);
}
.services-1:hover {
  background: #3e64ff;
}
.services-1:hover .icon i {
  color: #fff;
}
.services-1:hover h3 {
  color: #000000;
}
.services-1:hover h3:after {
  background: #000000;
}

@media (max-width: 767.98px) {
  .custom-bg {
    display: none;
  }
}

////////////////////////////////////////////////////////////////////////

/*
=========================================
=========================================

   Showtracker landing page

=========================================
========================================= */
/*
*
* ===========================================================
*     GENERAL
* ===========================================================
*
*/
.text-small {
  font-size: 0.9rem !important;
}

.blockquote {
  color: #495057;
  background: #f8f9fa;
  font-weight: 300;
}

.breadcrumb {
  background: none;
}

.breadcrumb li.breadcrumb-item {
  color: #999;
}

.padding-big {
  padding: 8.75rem 0;
}

.pt-big {
  padding-top: 8.75rem;
}

.pb-big {
  padding-bottom: 8.75rem;
}

.margin-big {
  margin: 8.75rem 0;
}

section {
  position: relative;
}

.section-padding {
  padding-top: 8.75rem;
  padding-bottom: 8.75rem;
}

.page-holder {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.shape-1 {
  position: relative;
}

.shape-1::after {
  content: "";
  display: block;
  height: 50rem;
  width: 50rem;
  background-size: 100%;
  position: absolute;
  top: -9rem;
  right: -18rem;
  z-index: -1;
}

.subscription {
  background-color: "black";
}

@media (max-width: 991.98px) {
  .shape-1::after {
    display: none;
  }
}

.shape-1-sm::after {
  width: 40rem;
  height: 40rem;
}

.shape-2 {
  position: relative;
}

.shape-2::after {
  content: "";
  display: block;
  height: 16rem;
  width: 16rem;

  background-size: 100%;
  position: absolute;
  top: -5rem;
  left: -9rem;
  z-index: -1;
}

@media (max-width: 767.98px) {
  .shape-2::after {
    display: none;
  }
}

.subscription-form .form-group {
  position: relative;
}

.subscription-form .form-group button {
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

@media (max-width: 991.98px) {
  .subscription-form .form-group button {
    position: static;
    width: 100%;
    margin-top: 1rem;
  }
}

.subscription-form input {
  padding-top: 1.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  border: none;
  background: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.subscription-form input::-moz-placeholder {
  font-weight: 400;
  color: #aaa;
}

.subscription-form input::-webkit-input-placeholder {
  font-weight: 400;
  color: #aaa;
}

.subscription-form input:-ms-input-placeholder {
  font-weight: 400;
  color: #aaa;
}

.subscription-form input:focus {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.subscription-form label {
  font-weight: 700;
  color: #540cfa;
  position: absolute;
  top: 0.5rem;
  left: 1.5rem;
}

.gradient-1 {
  background: linear-gradient(150deg, #9c09db, #1c0fd7) !important;
  -webkit-box-shadow: 0 2px 4px rgba(36, 8, 128, 0.2);
  box-shadow: 0 2px 4px rgba(36, 8, 128, 0.2);
}

.gradient-2,
.schedule-nav-link.active {
  background: linear-gradient(150deg, #f2c314, #fc3832) !important;
  -webkit-box-shadow: 0 2px 4px rgba(128, 32, 0, 0.2);
  box-shadow: 0 2px 4px rgba(128, 32, 0, 0.2);
}

.gradient-3 {
  background: linear-gradient(150deg, #32fbfc, #3214f2) !important;
  -webkit-box-shadow: 0 2px 4px rgba(8, 38, 168, 0.2);
  box-shadow: 0 2px 4px rgba(8, 38, 168, 0.2);
}

.modal {
  background: rgba(0, 0, 0, 0);
}

.modal-content {
  border-radius: 0;
}

.modal-content .close {
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #540cfa;
  display: block;
  opacity: 1;
  padding: 0;
  outline: none;
}

.modal-content .close span {
  color: #fff;
}

/*
*
* ===========================================================
*     FOOTER
* ===========================================================
*
*/
.copyrights {
  padding-bottom: 1.5rem;
}

.social-link {
  color: #aaa;
  margin: 0 0.5rem;
  font-size: 1.2rem;
}

.copyrights-text {
  color: #aaa;
}

.copyrights-link {
  color: #aaa;
  text-decoration: underline;
}

/*
*
* ===========================================================
*     HERO SECTION
* ===========================================================
*
*/
.hero {
  padding: 1.25rem 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.platforms {
  margin-top: 5rem;
}

.platforms-title {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.12rem;
  color: #b1b1b1;
}

.platforms-list {
  margin-top: 1rem;
}

.platform-image {
  height: 1.5rem;
  margin: 0 0.7rem;
  opacity: 0.3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.platform-image:hover {
  opacity: 1;
}

/*
*
* ===========================================================
*     FEATURES SECTION
* ===========================================================
*
*/
.gradient-icon {
  border-radius: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  color: #fff;
  background: #540cfa;
  line-height: 3.5rem;
  text-align: center;
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.features-link {
  font-weight: 700;
}

.features-link:hover,
.features-link:focus {
  text-decoration: none;
}

.features {
}

/*
*
* ===========================================================
*     TV SHOWS SECTION
* ===========================================================
*
*/
.tv-shows-slider {
  padding: 1.5rem 0;
}

.tv-shows-image {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/*
*
* ===========================================================
*     SHOWCASE SECTION
* ===========================================================
*
*/
.showcase-image-holder {
  position: relative;
  margin: 1.5rem auto 0;
}

@media (max-width: 991.98px) {
  .showcase-mockup {
    display: block;
  }
}

.showcase-image {
  position: absolute;
  top: -5rem;
  right: -90%;
  z-index: -1;
  width: 150%;
  -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.showcase-link {
  font-weight: 600;
  color: #999;
}

@media (max-width: 767.98px) {
  .showcase-link {
    font-size: 1rem !important;
  }
}

.showcase-link i {
  color: rgba(84, 12, 250, 0.5);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 1.5rem;
}

.showcase-link.active,
.showcase-link:hover {
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  padding: 1rem;
  color: #333;
}

.showcase-link.active i,
.showcase-link:hover i {
  color: #540cfa;
}

/*
*
* ===========================================================
*     TESTIMONIALS SECTION
* ===========================================================
*
*/
.feeds {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.feed-block {
  padding: 1rem 1.2rem;
  background: #141414;
  border-radius: 0.6rem;
  color: #fff;
}

.feed-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.feed-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.feed-user-avatar {
  min-width: 3rem;
  width: 3rem;
  min-height: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.7rem;
}

.feed-icon {
  color: #6f6f6f;
}

.feed-text {
  font-size: 0.85rem;
  line-height: 1.5rem;
}

.feed-date {
  font-weight: 700;
  font-size: 0.85rem;
  color: #6f6f6f;
  margin-top: 2rem;
}

/*
*
* ===========================================================
*     SCHEDULE SECTION
* ===========================================================
*
*/
.schedule-table {
  background: #fff;
  padding: 0;
  z-index: 999;
  position: relative;
}

.schedule-nav {
  border-bottom: none;
  background: #f5f5f5;
  padding: 1rem;
  border-radius: 0.2rem;
}

@media (max-width: 991.98px) {
  .schedule-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.schedule-nav-link {
  border: none !important;
  border-radius: 0.2rem;
  font-weight: 700;
  color: #555;
  font-size: 1.1rem;
}

.schedule-nav-link.active {
  color: #fff !important;
}

.schedule-nav-link:hover,
.schedule-nav-link:focus {
  color: #f2c314;
}

.schedule-table-item {
  padding: 2.5rem 0;
  border-bottom: 1px solid #eee;
}

.schedule-item-image {
  border-radius: 0.2rem;
  overflow: hidden;
  display: inline-block;
  max-height: 20rem;
}

.schedule-item-genre {
  padding: 0.5rem 1rem;
  position: relative;
  background: #540cfa;
  color: #fff;
  display: inline-block;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  border-radius: 0.2rem;
}

.schedule-item-description {
  font-size: 1.1rem;
  line-height: 1.7rem;
  margin-bottom: 0.7rem;
  font-weight: 300;
  max-width: 30rem;
}

.schedule-item-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1rem;
}

@media (max-width: 991.98px) {
  .schedule-item-time {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.viewing-times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 991.98px) {
  .viewing-times {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.viewing-times i {
  display: inline-block;
  margin-right: 0.5rem;
}

.viewing-times-list {
  margin-left: 1rem;
}

@media (max-width: 991.98px) {
  .viewing-times-list {
    margin-left: 0;
    margin: 1rem 0 !important;
  }
}

.viewing-times-item {
  background: #ebebeb;
  border-radius: 0.2rem;
  padding: 0.5rem 1.2rem;
  font-weight: 700;
  color: #777;
  font-size: 0.9rem;
}

@media (max-width: 991.98px) {
  .viewing-times-item {
    margin-bottom: 0.7rem;
  }
}

.viewing-times-item.disabled {
  color: #b1b1b1;
}

.viewing-times {
  font-weight: 700;
  color: #666;
}

.duration {
  font-weight: 700;
  color: #777;
}

.certification {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #555;
  color: #fff;
  text-align: center;
  line-height: 2rem;
  display: inline-block;
  margin-left: 0.7rem;
}

.contact-block {
  margin-top: 5rem;
}

.contact-text {
  font-size: 1rem;
  text-transform: uppercase;
  color: #555;
}

.contact-number {
  color: #540cfa;
  font-weight: 700;
  font-size: 3rem;
}

.testimonials-slider-1,
.testimonials-slider-2 {
  height: 100%;
}

.testimonials-slider-1 .swiper-slide,
.testimonials-slider-2 .swiper-slide {
  height: auto !important;
  margin: 1rem 0;
}

.device-wrapper .screen {
  overflow: hidden;
}

/*

=====================
STYLE SWITCHER FOR DEMO
=====================

*/
#style-switch-button {
  position: fixed;
  top: 120px;
  left: 0px;
  border-radius: 0;
  z-index: 2;
}

#style-switch {
  width: 300px;
  padding: 20px;
  position: fixed;
  top: 160px;
  left: 0;
  background: #fff;
  border: solid 1px #ced4da;
  z-index: 2000;
}

#style-switch h4 {
  color: #495057;
}

////////////////////RESUME TIMELINE /////////////////////////////////////@at-root

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  margin-right: 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 0%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 96%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 15px;

  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -5px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -1px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 20px;
  height: 20px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 0%;
  margin-left: -5px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}

////////////////////////////////////////////////////////////////////

.device[data-device="imac"][data-orientation="portrait"][data-color="black"] {
  padding: 25.15%;
  height: 200%;
  background-image: url("../images/imac.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.device[data-device="imac"][data-orientation="portrait"][data-color="black"]
  .screen {
  top: 120%;
  width: 130.35632%;
  height: 199.06112%;
}
.device[data-device="imac"][data-orientation="portrait"][data-color="black"]
  .button {
  top: 89.53028%;
  left: 42.29885%;
  width: 15.74713%;
  height: 7.75325%;
}

.device[data-device="imac-2"][data-orientation="portrait"][data-color="black"] {
  padding-right: 183.15%;
  padding-top: 83.15%;
  padding-bottom: 53.15%;
  right: 20.29885%;
  top: -220px;
  background-image: url("../images/imac.png");
  background-size: 80%;
  background-repeat: no-repeat;
}

.device[data-device="imac-2"][data-orientation="portrait"][data-color="black"]
  .screen {
  top: 4.39774%;
  left: 4.4069%;
  width: 91.35632%;
  height: 79.06112%;
}
.device[data-device="imac-2"][data-orientation="portrait"][data-color="black"]
  .button {
  top: 89.53028%;
  left: 42.29885%;
  width: 15.74713%;
  height: 7.75325%;
}

.device[data-device="iPhone7-2"][data-orientation="portrait"][data-color="black"] {
  padding-right: 83.15%;

  padding-top: 83.15%;
  padding-bottom: 83.15%;
  margin-top: 20px;
  left: 21.29885%;
  background-image: url("../images/portrait_black.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.device[data-device="iPhone7-2"][data-orientation="portrait"][data-color="black"]
  .screen {
  top: 4.39774%;
  left: 4.4069%;
  width: 91.35632%;
  height: 79.06112%;
}
.device[data-device="iPhone7-2"][data-orientation="portrait"][data-color="black"]
  .button {
  top: 89.53028%;
  left: 42.29885%;
  width: 15.74713%;
  height: 7.75325%;
}

.device[data-device="iPhone7"][data-orientation="portrait"][data-color="black"] {
  padding: 83.15%;
  margin-top: 20px;
  background-image: url("/../images/portrait_black.png");
  background-size: 80%;
  background-repeat: no-repeat;
}

.device[data-device="iPhone7"][data-orientation="portrait"][data-color="black"]
  .screen {
  top: 4.39774%;
  left: 4.4069%;
  width: 91.35632%;
  height: 79.06112%;
}
.device[data-device="iPhone7"][data-orientation="portrait"][data-color="black"]
  .button {
  top: 89.53028%;
  left: 42.29885%;
  width: 15.74713%;
  height: 7.75325%;
}

///////////////////////////// projects cards /////////////////////////////////////////////

$bg-color: #e6e5e1;
$shdow-gray: #d3d3d5;
$orange: #da4d1d;
$blue: #2b26c3;
$img-url: "https://images.unsplash.com/photo-1525543907410-b2562b6796d6?ixlib=rb-0.3.5&s=9ff8e5e718a6a40cbd0e1471235912f4&auto=format&fit=crop&w=3452&q=80";
$img-url2: "https://images.unsplash.com/photo-1528785198459-ec50485704c7?ixlib=rb-0.3.5&s=3a2fc3039516555bbb2e9cd2967bd321&auto=format&fit=crop&w=1537&q=80";

.arrow-right {
  opacity: 0;
  font-size: 12px;
  color: #fff;
  font-family: verdana;
  will-change: transform;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

h2 {
  pointer-events: none;
  text-transform: uppercase;
  font-family: verdana;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 4px;

  &:before {
    content: "";
    z-index: 99;
    position: absolute;
    top: -10px;
    left: 32px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: $bg-color;
  }
  &:after {
    content: "";
    z-index: 99;
    position: absolute;
    bottom: -10px;
    left: 32px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: $bg-color;
  }
  ul {
    z-index: 99;
    position: absolute;
    left: 39px;
    top: 5px;
    list-style-type: none;
    li {
      width: 2px;
      height: 2px;
      border-radius: 2px;
      margin: 6px 0;
      background-color: $bg-color;
    }
  }
  h2 {
    z-index: 99;
    font-family: "Poppins", sans-serif;
    position: absolute;
    top: 50px;
    right: 130px;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
  }

  .arrow-right {
    z-index: 100;
    position: absolute;
    right: 15px;
    bottom: 20px;
    border: 1px solid white;
    font-size: 0.5rem;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
  }

  .pg-title {
    position: absolute;
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 700;
    color: #000000;
    font-size: 1.5em;
    display: none;
    color: transparent;
    display: flex;
    text-align: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 80%;
    border-radius: 80px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .pg-text {
    position: absolute;

    font-size: 1em;
    display: none;
    color: transparent;
    display: flex;
    text-align: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;

    width: 80%;
    border-radius: 80px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .pic {
    z-index: -0;
    width: 100%;
    height: 100%;
    background-image: url($img-url);
    background-size: 100% 100%;
    background-color: #1c0fd7;
    background-blend-mode: multiply;
  }

  .social-2 {
    position: absolute;
    left: 50px;
    top: 40px;
    font-size: 1rem;
    display: none;
    color: transparent;
    display: flex;
    text-align: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 80%;
    border-radius: 80px;
  }

  .social {
    position: absolute;

    display: none;
    display: -ms-flexbox;
    color: transparent;
    display: flex;
    text-align: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.01s ease;
    transition: all 0.01s ease;
    width: 150px;
    height: 34px;
  }

  .social i:nth-of-type(1) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }

  .social i:nth-of-type(2) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

  .social i:nth-of-type(3) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }

  .social i:nth-of-type(4) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }

  &:hover .arrow-right {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  button {
    position: absolute;
    right: 14px;
    bottom: 14px;
    width: 30px;
    height: 30px;
    background-color: #f4623a;
    background-blend-mode: multiply;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;

    i {
      font-size: 3rem;
    }
  }

  &:hover button {
    transform: scale(90.5);
  }

  &:hover .hide-title {
    display: none;
    transition: all 0.3s ease;
  }

  &:hover .pg {
    color: #fff;
    z-index: 99;
  }
  &:hover .pg-title {
    color: #fff;
    z-index: 99;
  }
  &:hover .pg-text {
    color: #fff;
    z-index: 99;
  }
  &:hover .social {
    color: #fff;

    z-index: 99;
  }

  &:hover .social-2 {
    color: #fff;
    z-index: 99;
  }

  &:hover .pic {
    filter: grayscale(0);
  }
}

.card2 {
  .pic {
    background-image: url($img-url2);
  }
  button {
    background-color: $blue;
  }
}

.dr {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 100px;
}

.modal-page {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  background-color: #fc3832;
}

.modal {
  -webkit-overflow-scrolling: touch;
}

.portfolio {
  text-align: center;
  width: 100%;
  background-color: #062744;
}

@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

//////////////////////////////////////////////////////////////////////////////

$accent-color: #355cc9;

.wrapper {
  display: flex;

  justify-content: center;
}

.card-service {
  width: 100%;
  height: 340px;
  margin: 1em;
  perspective: 1500px;
  .content {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
  }
}

.more {
  display: none;

  &:checked ~ .content {
    transform: rotateY(180deg);
  }
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 6px;

  .inner {
    height: 100%;
    display: grid;
    padding: 1.5em;
    transform: translateZ(80px) scale(0.94);
  }
}

.front {
  background-color: #fff;
  background-size: cover;
  background-position: center center;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 6px;
    backface-visibility: hidden;
  }
  .inner {
    grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
    justify-items: center;
  }

  h2 {
    grid-row: 1;
    font-size: 1.3rem;
    margin-top: 2.3em;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000;
    font-weight: 500;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  }

  .rating {
    grid-row: 3;
    color: rgba(255, 255, 255, 0.8);

    img {
      margin: 0 1px;
    }
  }
}

.back {
  transform: rotateY(180deg);
  background-color: #fff;
  border: 2px solid rgb(240, 240, 240);
  .inner {
    grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 0.8em;
    justify-items: center;
  }

  .info {
    position: relative;
    display: flex;
    align-items: center;
    color: $accent-color;
    grid-row: 3;
    &:not(:first-of-type):before {
      content: "";
      position: absolute;
      left: -0.9em;
      height: 18px;
      width: 1px;
      background-color: #ccc;
    }
    span {
      font-size: 2em;
      font-weight: 700;
    }
    i {
      &:before {
        background: linear-gradient(40deg, $accent-color, rgb(67, 138, 243));

        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }
      font-size: 1.2em;
    }
    .icon {
      margin-left: 0.3em;
      span {
        display: block;
        margin-top: -0.25em;
        font-size: 0.8em;
        font-weight: 600;
        white-space: nowrap;
      }
    }
  }

  .description {
    grid-row: 5;
    grid-column: 1/-1;
    font-size: 0.86em;
    border-radius: 5px;
    font-weight: 600;
    line-height: 1.4em;
    overflow: auto;
    color: $accent-color;
    padding-right: 10px;
  }

  .location,
  .price {
    font-weight: 600;
    color: $accent-color;
    grid-row: 1;
    font-size: 0.86em;
  }

  .location {
    grid-column: 1/3;
    justify-self: left;
  }

  .price {
    grid-column: 3/-1;
    justify-self: right;
  }

  .button {
    grid-column: 1/-1;
    justify-self: center;
  }
}

.button {
  grid-row: -1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;

  cursor: pointer;
  display: block;
  padding: 0 1.5em;
  height: 3em;
  line-height: 2.9em;
  min-width: 3em;
  background-color: transparent;
  border: solid 2px $orange;
  color: $orange;
  border-radius: 4px;
  text-align: center;
  left: 50%;
  backface-visibility: hidden;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: $orange;
    text-shadow: none;
    color: white;
  }

  &.return {
    line-height: 3em;
    color: $accent-color;
    border-color: $accent-color;
    text-shadow: none;
    &:hover {
      background-color: $accent-color;
      color: #fff;
      box-shadow: none;
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
  background: lighten($accent-color, 20%);
}
::-webkit-scrollbar-thumb:hover {
  background: $accent-color;
}

$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

.cards {
  display: flex;
  justify-content: space-evenly;
}

.card-3 {
  width: 100%;
  position: relative;
  height: 340px;
  margin: 1em;
  perspective: 150em;
  background-color: transparent;

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    transition: all 0.6s ease;
    box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);

    &--front {
      background-color: transparent;
    }

    &--back {
      color: black;
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotate(0);
  }

  &__description {
    text-transform: uppercase;
    font-size: 5em;
    padding: 1em 0;

    svg {
      width: 1.5em;
      height: 1.5em;
      fill: #fff;
    }
  }
}

//////////////////////////////////////////@at-root

.card-2 {
  width: 100%;
  position: relative;
  height: 340px;
  margin: 1em;
  perspective: 150em;
  background-color: transparent;

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    transition: all 0.6s ease;
    box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);

    &--front {
      background-color: transparent;
    }

    &--back {
      color: black;
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotate(0);
  }

  &__description {
    text-transform: uppercase;
    font-size: 5em;
    padding: 1em 0;

    svg {
      width: 1.5em;
      height: 1.5em;
      fill: #fff;
    }
  }
}

/////////////////////////////////////////////////////////
.profile-card-3 {
  font-family: "Open Sans", Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;

  height: 368px;
  border: none;
}

.profile-card-3 .background-block {
  float: left;
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-color: #0192b3;
}
.profile-card-3 .background-block .background {
  width: 100%;
  vertical-align: top;
  opacity: 0.2;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
}
.profile-card-3 .card-content {
  width: 100%;
  padding: 15px 25px;
  color: #232323;
  float: left;
  background: #efefef;
  height: 50%;
  border-radius: 0 0 5px 5px;
  position: relative;
  z-index: 0;
}
.profile-card-3 .card-content::after {
  content: "";
  background: #efefef;
  width: 120%;
  height: 100%;
  left: 8px;
  bottom: 51px;
  position: absolute;
  z-index: -1;
  transform: rotate(-8deg);
}
.profile-card-3 .profile {
  position: absolute;
  bottom: 120%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  padding: 20px;
  background-color: $orange;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index: 0;
}










.profile-card-3 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size: 25px;
}
.profile-card-3 h2 small {
  display: block;
  font-size: 15px;
  margin-top: 10px;
}
.profile-card-3 i {
  display: inline-block;
  font-size: 16px;
  color: #232323;
  text-align: center;
  border: 1px solid #232323;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin: 0 5px;
}
.profile-card-3 .icon-block {
  float: left;
  width: 100%;
  margin-top: 15px;
}
.profile-card-3 .icon-block a {
  text-decoration: none;
}
.profile-card-3 i:hover {
  background-color: #232323;
  color: #fff;
  text-decoration: none;
}



.overlay {
  position: absolute;

  background-color: "red";
}

.month__card .month__card__input {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  border-radius: 0;
  border-top: 0;
  border-bottom: 0;
  max-width: 100px;
}

.month__card .month__card__ico {
  font-size: 25px;
}

/////////////////////////// RES CARD //////////////////////

// .box {
//   padding: 60px 0px;
// }

.box-part {
  border-radius: 0;
  padding: 10px 10px;
  margin: 10px 0px;
}
.text {
  margin: 20px 0px;
}

.fa {
  color: #4183d7;
}

/////////////// PROGRESS //////////////////////////@at-root

@media screen and (max-width: 768px) {
  height: 11px;
  width: 30px;
}

:root {
  --blue: #5e72e4;
  --indigo: #5603ad;
  --purple: #8965e0;
  --pink: #f3a4b5;
  --red: #f5365c;
  --orange: #fb6340;
  --yellow: #ffd600;
  --green: #2dce89;
  --teal: #11cdef;
  --cyan: #2bffc6;
  --white: #fff;
  --gray: #8898aa;
  --gray-dark: #32325d;
  --light: #ced4da;
  --lighter: #e9ecef;
  --primary: #5e72e4;
  --secondary: #f7fafc;
  --success: #2dce89;
  --info: #11cdef;
  --warning: #fb6340;
  --danger: #f5365c;
  --light: #adb5bd;
  --dark: #212529;
  --default: #172b4d;
  --white: #fff;
  --neutral: #fff;
  --darker: black;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: Open Sans, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@-ms-viewport {
  width: device-width;
}

figcaption,
footer,
main,
nav,
section {
  display: block;
}

body {
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  text-align: left;
  color: #525f7f;
  background-color: #f8f9fe;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  overflow: visible;
  box-sizing: content-box;
  height: 0;
}

h2,
h3,
h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

dfn {
  font-style: italic;
}

strong {
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: #5e72e4;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  text-decoration: none;
  color: #233dd2;
}

a:not([href]):not([tabindex]) {
  text-decoration: none;
  color: inherit;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  text-decoration: none;
  color: inherit;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

caption {
  padding-top: 1rem;
  padding-bottom: 1rem;
  caption-side: bottom;
  text-align: left;
  color: #8898aa;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button {
  text-transform: none;
}

button,
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

legend {
  font-size: 1.5rem;
  line-height: inherit;
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0.5rem;
  padding: 0;
  white-space: normal;
  color: inherit;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

[hidden] {
  display: none !important;
}

h2,
h3,
h5,
.h2,
.h3,
.h5 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  color: #32325d;
}

h2,
.h2 {
  font-size: 1.25rem;
}

h3,
.h3 {
  font-size: 1.0625rem;
}

h5,
.h5 {
  font-size: 0.8125rem;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.btn {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  display: inline-block;
  padding: 0.625rem 1.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 0.375rem;
}

@media screen and (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover,
.btn:focus {
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.btn:disabled {
  opacity: 0.65;
  box-shadow: none;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn:not(:disabled):not(.disabled):active {
  box-shadow: none;
}

.btn:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08),
    none;
}

.btn-info {
  color: #fff;
  border-color: #11cdef;
  background-color: #11cdef;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-info:hover {
  color: #fff;
  border-color: #11cdef;
  background-color: #11cdef;
}

.btn-info:focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08),
    0 0 0 0 rgba(17, 205, 239, 0.5);
}

.btn-info:disabled {
  color: #fff;
  border-color: #11cdef;
  background-color: #11cdef;
}

.btn-info:not(:disabled):not(.disabled):active {
  color: #fff;
  border-color: #11cdef;
  background-color: #0da5c0;
}

.btn-info:not(:disabled):not(.disabled):active:focus {
  box-shadow: none, 0 0 0 0 rgba(17, 205, 239, 0.5);
}

.btn-default {
  color: #fff;
  border-color: #172b4d;
  background-color: #172b4d;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-default:hover {
  color: #fff;
  border-color: #172b4d;
  background-color: #172b4d;
}

.btn-default:focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08),
    0 0 0 0 rgba(23, 43, 77, 0.5);
}

.btn-default:disabled {
  color: #fff;
  border-color: #172b4d;
  background-color: #172b4d;
}

.btn-default:not(:disabled):not(.disabled):active {
  color: #fff;
  border-color: #172b4d;
  background-color: #0b1526;
}

.btn-default:not(:disabled):not(.disabled):active:focus {
  box-shadow: none, 0 0 0 0 rgba(23, 43, 77, 0.5);
}

.btn-sm {
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 600;
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  background-color: #fff;
  background-clip: border-box;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card-body {
  padding: 1.5rem;
  flex: 1 1 auto;
}

.card-header {
  margin-bottom: 0;
  padding: 1.25rem 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.card-header:first-child {
  border-radius: calc(0.375rem - 1px) calc(0.375rem - 1px) 0 0;
}

@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }

  to {
    background-position: 0 0;
  }
}

.bg-default {
  background-color: #172b4d !important;
}

a.bg-default:hover,
a.bg-default:focus,
button.bg-default:hover,
button.bg-default:focus {
  background-color: #0b1526 !important;
}

.border-0 {
  border: 0 !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.d-flex {
  display: flex !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.align-items-center {
  align-items: center !important;
}

@media (min-width: 1200px) {
  .justify-content-xl-between {
    justify-content: space-between !important;
  }
}

.float-right {
  float: right !important;
}

.shadow,
.card-profile-image img {
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.my-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mt-7 {
  margin-top: 6rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pt-8 {
  padding-top: 8rem !important;
}

.m-auto {
  margin: auto !important;
}

@media (min-width: 768px) {
  .mt-md-5 {
    margin-top: 3rem !important;
  }

  .pt-md-4 {
    padding-top: 1.5rem !important;
  }

  .pb-md-4 {
    padding-bottom: 1.5rem !important;
  }
}

@media (min-width: 1200px) {
  .mb-xl-0 {
    margin-bottom: 0 !important;
  }
}

.text-center {
  text-align: center !important;
}

.font-weight-light {
  font-weight: 300 !important;
}

@media print {
  *,
  *::before,
  *::after {
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a:not(.btn) {
    text-decoration: underline;
  }

  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  @page {
    size: a3;
  }
}

@keyframes floating-lg {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes floating-sm {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0px);
  }
}

[class*="shadow"] {
  transition: all 0.15s ease;
}

.font-weight-300 {
  font-weight: 300 !important;
}

.btn {
  font-size: 0.875rem;
  position: relative;
  transition: all 0.15s ease;
  letter-spacing: 0.025em;
  text-transform: none;
  will-change: transform;
}

.btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.btn:not(:last-child) {
  margin-right: 0.5rem;
}

.btn i:not(:first-child) {
  margin-left: 0.5rem;
}

.btn i:not(:last-child) {
  margin-right: 0.5rem;
}

.btn-sm {
  font-size: 0.75rem;
}

[class*="btn-outline-"] {
  border-width: 1px;
}

.card-profile-image {
  position: relative;
}

.card-profile-image img {
  position: absolute;
  left: 50%;
  max-width: 180px;
  transition: all 0.15s ease;
  transform: translate(-50%, -30%);
  border-radius: 0.375rem;
}

.card-profile-image img:hover {
  transform: translate(-50%, -33%);
}

.card-profile-stats {
  padding: 1rem 0;
}

.card-profile-stats > div {
  margin-right: 1rem;
  padding: 0.875rem;
  text-align: center;
}

.card-profile-stats > div .heading {
  font-size: 1.1rem;
  font-weight: bold;
  display: block;
}

.card-profile-stats > div .description {
  font-size: 0.875rem;
  color: #adb5bd;
}

.main-content {
  position: relative;
}

.footer {
  padding: 2.5rem 0;
  background: #f7fafc;
}

.footer .copyright {
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  @keyframes show-navbar-dropdown {
    0% {
      transition: visibility 0.25s, opacity 0.25s, transform 0.25s;
      transform: translate(0, 10px) perspective(200px) rotateX(-2deg);
      opacity: 0;
    }

    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  @keyframes hide-navbar-dropdown {
    from {
      opacity: 1;
    }

    to {
      transform: translate(0, 10px);
      opacity: 0;
    }
  }
}

@keyframes show-navbar-collapse {
  0% {
    transform: scale(0.95);
    transform-origin: 100% 0;
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes hide-navbar-collapse {
  from {
    transform: scale(1);
    transform-origin: 100% 0;
    opacity: 1;
  }

  to {
    transform: scale(0.95);
    opacity: 0;
  }
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
}

.description {
  font-size: 0.875rem;
}

@media (max-width: 768px) {
  .btn {
    margin-bottom: 10px;
  }
}

label {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
  width: 100%;

  height: 368px;
}

.box {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

.box div {
}

.box .back {
  background: rgb(255, 255, 255);
  color: black;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);

}

// label:hover .box {
//     -webkit-transform: rotateX(20deg);
//     transform: rotateX(20deg);
//     box-shadow: 0 20px 20px rgba(50,50,50,.2);
// }

input {
  display: none;
}

:checked + .box {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

// label:hover :checked + .box {
//     transform: rotateX(160deg);
//     -webkit-transform: rotateX(160deg);
//     box-shadow: 0 20px 20px rgba(255,255,255,.2);
// }
